        body{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .btn{
            background-color: blue;
            color: white;
            width: 100px;
            height: 30px;
            border-radius: 5px;
            border: 0;
            margin-left: 50%;
        }
